.counter {
    border: 10px solid white;
    border-radius: 16px;
    display: block;
    justify-content: center;
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 250px;
}

.counterFinal {
    display: flex;
    justify-content: center;
    text-align: center;
}

.counterFinal2 {
    display: block;
    justify-content: center;
    text-align: center;
}

.nombreCart {
    font-size: 40px;
    color: gray;
}

.total {
    font-weight: bold;
    padding: 10px;
    color: red;
}

.total1 {
    text-align: center;
    padding: 15px;
    font-size: 40px;
}

.btnClear {
    border: 2px solid red;
    border-radius: 10px;
    color: black;
    background-color: beige;
    padding: 10px;
    margin-top: 10px;
    margin-right: 25px;
    font-weight: bold;
}

.btnCheck {
    border: 2px solid beige;
    background-color: aquamarine;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    color: black;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.btnCheck1 {
    border: 2px solid beige;
    background-color:  #abb34d;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    color: black;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 15px;
    text-align: center;
}